{% extends 'barber_shop/base.html' %}
{% load static %}
{% block content %}

<div class="equipe">
    <img class="equipe-image" src="{% static 'assets/galeria/equipe.jpeg' %}" alt="equipe">
    <div class="equipe-text">
        <h3>Erik Brave</h3>
        <p><i>Barbeiro (fundador) responsável por nossa equipa, com quase 10 anos de experiência na área, já foi proprietário e responsável de barbearias no Brasil. Tendo como especialidade cortes de clássicos a modernos, barba e cuidados com a pele junto a Visagismo pessoal trazendo o que mais combina com você e com o seu estilo.O objetivo maior não foi se tornar uma empresa meramente lucrativa, e sim tornar-se um destino confiável, uma referência onde os clientes da comunidade local poderiam chegar para refrescar suas mentes, repor suas energias e saírem totalmente diferentes de quando entraram através da experiência proporcionada.</i></p>
    </div>
</div>

{% endblock%}