{% extends 'barber_shop/base.html' %}
{% load static %}
{% block content %}
<section class="gallery">
    {% if foto.categoria == categoria %}
        {% for imagem in fotografia %}
            <div class="container">
                <h2>{{ imagem.titulo }}</h2>
                <div class="photos">
                    <div class="photo">
                        <img src="{{ imagem.foto.url }}" alt="{{ imagem.nome }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}    
    {% endif %}
</section>
{% endblock %}