{% extends 'barber_shop/base.html' %}
{% load static %}
{% block content %}
    <section class="hero">
        <div class="container">
            <h2>Bem-vindo à Barbearia</h2>
            <p>Serviços de barbearia tradicionais com qualidade</p>
        </div>
    </section>
    <section class="gallery">
        <div class="container">
            <h2>Galeria</h2>
            <div class="photos">
                <div class="photo">
                    <h3>Barbearia</h3>
                    <img src="{% static '/assets/barber3.png.jpeg' %}" alt="Barbearia Vintage">
                </div>
                <div class="photo">
                    <h3>Cortes</h3>
                    <img src="{% static '/assets/barber2.png.jpeg' %}" alt="Barbearia Vintage">  
                </div>
                <div class="photo">
                    <h3>Alguma coisa</h3>
                    <img src="{% static '/assets/barber3.png.jpeg' %}" alt="Barbearia Vintage">
                </div>
            </div>
        </div>
    </section>
{% endblock %}